altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
ffmpeg-python==0.2.0
future==1.0.0
idna==3.6
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
PyMonCtl==0.7
pywin32==306
pywin32-ctypes==0.2.2
PyWinBox==0.6
PyWinCtl==0.3
requests==2.31.0
setuptools==69.1.1
tk==0.1.0
tkinterdnd2-universal==1.7.3
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
Wand==0.6.13
tkmacosx==1.0.5