altgraph==0.17.4
certifi==2024.07.04
charset-normalizer==3.3.2
colorama==0.4.6
ffmpeg-python==0.2.0
future==1.0.0
idna==3.7
packaging==23.2
pefile==2023.2.7
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.9
PyMonCtl==0.7
pywin32-ctypes==0.2.2
PyWinBox==0.6
PyWinCtl==0.3
requests==2.32.0
setuptools==75.6.0
tk==0.1.0
tkinterdnd2==0.4.2
tqdm==4.66.3
typing_extensions==4.10.0
urllib3==2.2.2
Wand==0.6.13
tkmacosx==1.0.5
py2app==0.28.7
dmgbuild==1.6.1